
.title{
  text-align: center;
}
.App{
  padding: 50px 30px;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
  min-height: 100vh;
}
.container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 50px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.jcsb{
  justify-content: space-between;
}
.InputToDo{
  width: calc(100% - 65px);

}
ul{
  list-style: none;
  margin: 0;
  padding: 0;

  li{

    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 8px 0px;
    Button{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.delete:hover{
  color: red;
  transition: all .3s ease-in-out;
}
body .Btn_add{
    box-shadow: none;
}

.done  span{
  text-decoration: line-through;
}
.remove{
  background: #ff8787b5;
  transition: background .2s ease-in-out;
  animation: 1s ease-in remove;
}

@keyframes remove {
  0%{
    background: #ff8787b5;
    transform: translateX(0);
  }
  30%{
    transform: translateX(5%);
  }
  100%{
    transform: translateX(-190%);

  }
}

.lds-ring {
  display: table;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  margin-top: 20px;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3f51b5 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 767px) {
  .App{
    padding-left: 15px;
    padding-right: 15px;
  }
  .container{
    padding: 10px;
  }
  body{
    font-size: 14px;
  }
  ul li{
    padding: 5px 0px;

  }
}